


 img{
    position:absolute;
    height: 490px;
    width:35%;
    left:9px;
    top: 13px;
}
table{
    width:80%;
}

.redStripe{

background-color:#bf0a30;
height: 70px;
margin:-2px;
 }

.whiteStripe{
    
    background-color:white;
    height: 70px;
    width:100%;
    margin:-2px;
}
