
    img{
        position:absolute;
        height: 39.8vh;
        width:33vw;
        left:7px;
        top: 6.8%;
    }
    table{
        width:80vw;
        height: 80vh;
        top:7%;
    }
    
    .redStripe{
    background-color:#bf0a30;
    height:109%;
    width:100%;
    margin:-4px;
    padding:0;
    border:#bf0a30;
    border-spacing:0px;}
    
    
    
    .whiteStripe{
        background-color:white; 
        height: 100%;
        width:100%;
        margin:-4px;
        padding: 0;
        border:0px;
        border-spacing:0px;
    }


